.banner{
    margin: 7% 0 5% 3%;
    line-height: 1rem;
}
.banner p:first-child{
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
.banner p:first-child span{
    color:#FF0101;
}
.message{
    font-size: 1rem;
} 
.identity{
    display: inline-block;
    border: 5px solid #ff0000;
    padding: 1rem;
    border-radius: 1rem;;
}
.lastName{
    margin-bottom: 1rem;
}
.lastName, .lastName + p{
    font-size: 1.5rem; 
    font-weight: 700;
}