.banner{
    margin: 7% 0 2.5rem 6%;
    line-height: 1rem;
}
.banner p:first-child{
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
.banner p:first-child span{
    color:#FF0101;
}
.message{
    font-size: 1rem;
} 
.lastName{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.lastName + p{
    font-size: 1.5rem; 
}