.container{
    display: flex;
    gap:1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    width: 90%;
    /* height: 21.1%; */
    height: 7.75rem;
    /* margin-top: 7%; */
    padding: 0.2rem;
    border-radius: 5px;
}
.container img {
    margin: 0.5rem;
}
.legend{
    line-height: 1.5rem;
    margin-right: 2.5rem;
}
.legend p:first-child{
    font-size: 1.25rem;
    font-weight: 700;
    color:#282D30;
}
.legend p:nth-child(2){
    font-size: .875rem;
    font-weight: 500;
    color:#74798C;
}