.container{
    padding-left: 10rem;
    padding-top: 10rem;
    height:100vh;
}
.barCharts{
    width: 95%;
    height: 60%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.radarChart h3, .lineChart h2, .barCharts h3:first-child{
    display: inline-block;
    margin-bottom: 2rem;
    border-bottom: 2px solid #000000;
}
.barCharts h3:first-child{
    margin-bottom: 1rem;
}
.radarChart, .lineChart{
    width: 50%;
    height: 20rem;
    margin: 0 auto;
    margin-top: 4rem;
}


