.container{
    background-color: #FF0000;
    border-radius: .3125rem;
}
.title{
    position:absolute;
    font-size: .9375rem;
    font-weight: 500;
    width: 9rem;
    color:#fff;
    opacity: 0.5;
}