.profil{
    display: flex;
    flex-direction: column;
    min-height: 780px;
    min-width: 1024px;
    padding-left: 7.3125rem;
    padding-top: 5.6875rem;
}
.container{
    display: flex;
}
.containerCharts{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.barChart{
    height: 15rem;
    width: 90%;
    margin-left: 4rem;
    margin-top: 2rem;
}
.containerCharts2{
    display: flex;
    flex-direction: row;
    height: 15rem;
    margin-left: 4rem;
    margin-top: 2.5rem;
    width: 90%;
}

.lineChart, .radarChart, .radialBarChart{
    position:relative;
    width: 33%;
    height: 15rem;
}
.lineChart, .radarChart{
    margin-right: 1rem;
}

.containerCards{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 2.5rem;
    height: 32.5rem;
}