:root {
  --font-default: 'Roboto', sans-serif;
}
* {
  font-family: var(--font-default);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color:#fff;
}
#root{
  margin: 0 auto;
  position:relative;
  height: 100vh;
}

/* Futur media queries Tablett and Mobile < 1024px */
@media screen and (max-width: 1023.98px) {
  html{
    background-color: rgba(241, 103, 103, 0.3);
  }
}

